{% extends 'aplicacion/base.html' %}
{% load static %}

{% block contenido %}
    <h1>Clientes</h1>
{% endblock contenido %}

{% block titulo %}
    Clientes
{% endblock titulo %}

{% block formulario %}
<h2> Registrarse </h2>
<form action="" method="post">
    {% csrf_token %}
   <p>Nombre :<input type="text" name="nombre" id="nombre"></p>
   <p>Apellido :<input type="text" name="apellido" id="apellido"></p>
   <p>Edad :<input type="number" name="edad" id="edad"></p>
   <p>Email :<input type="text" name="email" id="email"></p>
   <input type="submit" value="Enviar">
</form>
{% endblock formulario %}
